apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-vtwpllkl
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-vtwpllkl:c238a327e8d7c66b4e46a094e2a270c5dbf857da@sha256:8bb984473b7875ed85e6d4e94f37b1d6a0dcd4b3a6e377ada10756ce1e074344
        name: container-image  
